on init
    export LD_LIBRARY_PATH .:/sbin

    mkdir /system
    mkdir /system/vendor
    mkdir /system/vendor/lib64
    mkdir /system/vendor/lib64/hw

on late-init
    symlink /vendor/lib64/libQSEEComAPI.so /system/vendor/lib64/libQSEEComAPI.so
    symlink /vendor/lib64/keystore.msm8998.so /system/vendor/lib64/hw/keystore.msm8998.so
    symlink /vendor/lib64/gatekeeper.msm8998.so /system/vendor/lib64/hw/gatekeeper.msm8998.so

on restore-data
   restorecon_recursive /data

on fs
    wait /dev/block/platform/soc/1da4000.ufshc
    symlink /dev/block/platform/soc/1da4000.ufshc /dev/block/bootdevice
    chmod 0660 /dev/qseecom
    chown system drmrpc /dev/qseecom
    chmod 0664 /dev/ion
    chown system system /dev/ion
    install_keyring

# separate copy needed to use /sbin/linker64 instead of /system/bin/linker64
service sbinqseecomd /sbin/qseecomd
    disabled
    seclabel u:r:recovery:s0

on boot
    start sbinqseecomd

on property:ro.crypto.state=encrypted
    stop sbinqseecomd
    start sbinqseecomd

on property:installkey.data=1
    copy /data/system/entropy.dat /dev/urandom
